@model TicketApp.Models.Company
@{
    ViewData["Title"] = "Display";
}


<form asp-action="Update" method="post">
    <input type="hidden" asp-for="companyId" />
    <div class="form-group">
        <label asp-for="companyName">Firma Adı</label>
        <input type="text" class="form-control" asp-for="companyName">
        <span asp-validation-for="companyName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

